<h1>put your name in hiragana</h1>
<h2>result 1</h2>
<form action="/home/result1" method="get">
    <input type="TEXT" name="namea1" >
    <input type="submit" value="click" >
</form>
<h2>result 2: the result with each word</h2>
<form action="/home/result2" method="get">
    <input type="TEXT" name="namea2" >
    <input type="submit" value="click" >
</form>
<h2>result 3: the result with each word with fixed results</h2>
<form action="/home/result3" method="get">
    <input type="TEXT" name="namea3" >
    <input type="submit" value="click" >
</form>
